/* Checked e Focus dos botões da tela de Login e Cadastro */
.checkbox:focus ~ label {
  outline: 2px solid #e55566;
}

.checkbox:checked ~ label {
  color: #f77980;
  background-color: #1a1b2d;
}

/* Animação para alterar os containers Login e Cadastro */
#login,
#register {
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}

#login.disabled,
#register.disabled {
  opacity: 0;
}

#message {
  transition: all 0.5s ease-in-out;
}
#error {
  transition: all 0.5s ease-in-out;
}
#shareMessage {
  transition: all 0.5s ease-in-out;
}
